sub vcl_hash {
    set req.http.hash = req.url;
    if (req.http.host) {
        set req.http.hash = req.http.hash + "#" + req.http.host;
    } else {
        set req.http.hash = req.http.hash + "#" + server.ip;
    }

    if (req.http.X-Forwarded-Proto ~ "https") {
        set req.http.hash = req.http.hash + req.http.X-Forwarded-Proto;
    }

    if (req.http.vckey) {
        hash_data(req.http.vckey);
        unset req.http.vckey;
    }

    {{ if getenv "VARNISH_CACHE_PER_COUNTRY" }}
    if (req.http.X-Country-Code) {
        hash_data(req.http.X-Country-Code);
    }
    {{ end }}

    {{ if getenv "VARNISH_CACHE_PER_CURRENCY" }}
    if (req.http.X-Currency) {
        hash_data(req.http.X-Currency);
    }
    {{ end }}
}
