sub vcl_recv {
    # Only cache GET and HEAD requests (pass through POST requests).
    if (req.method != "GET" && req.method != "HEAD") {
        set req.http.X-VC-Cacheable = "NO:Request method:" + req.method;
        return(pass);
    }

    # Implementing websocket support.
    if (req.http.Upgrade ~ "(?i)websocket") {
        return (pipe);
    }

    # Do not cache ajax requests.
    if (req.http.X-Requested-With == "XMLHttpRequest") {
        set req.http.X-VC-Cacheable = "NO:Requested with: XMLHttpRequest";
        return(pass);
    }

    # Strip hash, server does not need it.
    if (req.url ~ "\#") {
        set req.url = regsub(req.url, "\#.*$", "");
    }

    # Strip a trailing ? if it exists
    if (req.url ~ "\?$") {
        set req.url = regsub(req.url, "\?$", "");
    }

    {{ if not (getenv "VARNISH_KEEP_ALL_COOKIES") }}
    {{ $cookies := (getenv "VARNISH_STRIP_COOKIES" "__[a-z]+|has_js|wooTracker") }}
    set req.http.Cookie = regsuball(req.http.Cookie, "(^|;\s*)({{ $cookies }})=[^;]*", "");
    set req.http.Cookie = regsub(req.http.Cookie, "^;\s*", "");
    if (req.http.Cookie ~ "^\s*$") {
        unset req.http.Cookie;
    }
    {{ end }}

    {{ if not (getenv "VARNISH_KEEP_ALL_PARAMS") }}
    # Strip query parameters from all urls (so they cache as a single object).
    {{ if getenv "VARNISH_STRIP_ALL_PARAMS" }}
    if (req.url ~ "\?.*") {
        set req.url = regsub(req.url, "\?.*", "");
    }
    {{ else }}
    {{ $params := (getenv "VARNISH_STRIP_PARAMS" "utm_source|utm_medium|utm_campaign|utm_content|gclid|cx|ie|cof|siteurl") }}
    if (req.url ~ "(\?|&)({{ $params }})=") {
        set req.url = regsuball(req.url, "&({{ $params }})=([A-z0-9_\-\.%25]+)", "");
        set req.url = regsuball(req.url, "\?({{ $params }})=([A-z0-9_\-\.%25]+)", "?");
        set req.url = regsub(req.url, "\?&", "?");
        set req.url = regsub(req.url, "\?$", "");
    }
    {{ end }}
    {{ end }}
}